@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --foreground: oklch(14.1% 0.005 285.823);

  /* Карточки */
  --card: oklch(100% 0 0);
  --card-foreground: oklch(14.1% 0.005 285.823);

  /* Попапы */
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(14.1% 0.005 285.823);

  /* Основной цвет */
  --primary: oklch(70.5% 0.213 47.604);
  --primary-foreground: oklch(98% 0.016 73.684);

  /* Вторичный цвет */
  --secondary: oklch(96.7% 0.001 286.375);
  --secondary-foreground: oklch(21% 0.006 285.885);

  /* Приглушенные цвета */
  --muted: oklch(96.7% 0.001 286.375);
  --muted-foreground: oklch(55.2% 0.016 285.938);

  /* Акцент */
  --accent: oklch(96.7% 0.001 286.375);
  --accent-foreground: oklch(21% 0.006 285.885);

  /* Деструктивные действия */
  --destructive: oklch(57.7% 0.245 27.325);
  --destructive-foreground: oklch(98% 0.016 73.684);

  /* Границы и инпуты */
  --border: oklch(92% 0.004 286.32);
  --input: oklch(92% 0.004 286.32);
  --ring: oklch(70.5% 0.213 47.604);

  /* Скругления */
  --radius: 1rem;
}

@layer utilities {
  * {
    font-family: var(--font-nunito), sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #fff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #dbdadd;
    border-radius: 6px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #dbdadd;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
